$grey-text: #4C535B;
$grey: #F4F6F7;

$primary: #0067F2;
$primary-text: #FFFFFF;

$coordination: #DE4E72;
$delivery: #2F80ED;
$innovation: #329569;
$culture: #9668EB;

$active: #CAEAC5;
$active-text: #2A7657;

$inactive: #DCEFF9;
$inactive-text: #2B5581;
