@import 'colors';

.deck {
  position: relative;
  min-height: 400px;
}

.deck-card {
  position: absolute;
  left: 50%;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey-text;

  &-theme {
    border-radius: 3px;
    font-size: 9px;
    padding: 2px 5px;
    &.coordination { 
      color: $coordination; 
      background-color: $coordination-bg;
    }
    &.culture { 
      color: $culture; 
      background-color: $culture-bg;
    }
    &.delivery { 
      color: $delivery; 
      background-color: $delivery-bg;
    }
    &.innovation { 
      color: $innovation;
      background-color: $innovation-bg;
     }
  }

  &-icon {
    font-size: 30px;
    line-height: 34px;
  }

  &-title {
    font-size: 24px;
    font-weight: 600;
  }

  &-subheading {
    font-size: 12px;
    font-weight: 600;
    line-height: 147%;
    margin-bottom: 6px;
  }

  &-description {
    font-size: 12px;
    font-weight: 400;
    line-height: 127%;
    font-weight: normal;
    p {
      margin-bottom: 5px;
    }
  }
}

.deck-card-content {
  width: 250px;
  height: 375px;
  position: relative;
  right: 125px;
  top: 25px;
  background-color: white;
  background-size: auto 85%;
  background-repeat: no-repeat;
  background-position: center center;
  will-change: transform;
  border-radius: 10px;
  padding: 16px 16px 16px 22px;
  box-shadow:
    0px 15px 35px rgba(0, 0, 0, 0.1),
    0px 3px 11px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;

  &:active {
    cursor: grab;
  }
  ul {
    list-style: inherit;
    margin: 0;
    padding: 0 22px 3px 22px;
    li {
      padding-bottom: 4px;
    }
  }
}
