@import 'colors';

.footer {
  &-title {
    color: $grey-text;
    font-weight: bold;
  }

  &-contact {
    a {
      color: $primary;
      position: relative;
      font-weight: bold;

      &:hover {
        color: $morning-blue;
      }
    }
  }

  &-message {
    position: relative;
    opacity: 0;

    &.failure {
      color: $red;
    }

    &.active {
      -webkit-animation: success-fade 3.0s ease-in-out;
      animation: success-fade 3.0s ease-in-out;
    }
  }
}

@keyframes success-fade {
  0% {
    opacity: 0;
    top: -8px;
  }
  35% {
    opacity: 0;
    top: -8px;
  }
  45% {
    opacity: 1;
    top: 0;
  }
  90% {
    opacity: 1;
    top: 0;
  }
  100% {
    opacity: 0;
    top: 4px;
  }
}
