.hero-cta {
  max-width: 400px;
}

.hero-squiggle-container {
  margin-top: -120px;
  min-height: 300px;
  position: relative;
  pointer-events: none;
}

.hero-squiggle {
  position: absolute;
  width: 100%;
  bottom: 0;
}
