@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'colors';
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 768px) {
  #header > div {
    box-shadow: 0 0 4px $grey-text;
    background: white;
  }
}
[hidden],
template {
  display: none;
}
h1, h2, h3 {
  font-weight: bold;
  color: $grey-text;
}
h1 {
  font-size: 48px;
  line-height: 52px;
}
h2 {
  font-size: 36px;
  line-height: 40px;
}
h3 {
  font-size: 24px;
  line-height: 28px;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.mvc-link {
  color: $grey-text;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.cta-link {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  padding-right: 10px;
  color: $dusk-blue;
  &:after {
    content: "→";
    display: inline-block;
    transform: translateX(2px);
    color: $dusk-blue;
    transition: transform 400ms ease 0s;
    padding-left: 4px;
  }
  &:hover {
    color: $morning-blue;
    transition: color 300ms ease 0s;
    &:after {
      transform: translateX(6px);
      color: $morning-blue;
      transition: color 300ms ease 0s;
    }
  }
  &:active {
    color: $primary;
  }
}

.mvc-btn {
  color: $grey-text;
  background: transparent;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

  &.primary {
    color: $primary-text;
    background: $primary;
  }
}

.mvc-badge {
  font-size: 16px;
  padding: 4px 8px;
  cursor: pointer;

  color: $inactive-text;
  background: $inactive;

  &.active {
    color: $active-text;
    background: $active;
  }
}

.mvc-description {
  position: relative;
  bottom: 8px;
  font-size: 18px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: $grey;
  color: $grey-text;
  margin: 12px 0;
  padding: 8px;

  &.active {
    opacity: 1;
    bottom: 0;
  }
}
