@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'colors';
@import url('https://rsms.me/inter/inter.css');

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[hidden],
template {
  display: none;
}
h1 {
  font-size: 48px;
  line-height: 52px;
  font-weight: bold;
  color: $grey;
}
h2 {
  font-size: 36px;
  line-height: 40px;
  font-weight: bold;
  color: $grey;
}
h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: $grey;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  box-sizing: border-box;
  overflow-y: scroll;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.mvc-link {
  color: $grey;
  text-decoration: none;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.mvc-btn {
  color: $grey;
  background: transparent;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;

  &.primary {
    color: $primary-text;
    background: $primary;
  }
}

.mvc-badge {
  font-size: 14px;
  padding: 0 8px;
  border: 1px solid;
  border-radius: 4px;
}
