.squiggles {
  position: relative;
  pointer-events: none;
  width: 100%;
  height: calc(100vh / 4);
  z-index: -1;
}

.squiggle {
  width: 100vw;
  height: auto;
}

@media (min-width: 641px) {
  #hero .squiggles {
    margin-top: -260px;
  }
}
